<form method="POST" id="reset_pass_form">
  <legend>Reset Password</legend>
  <div class="form-group">
    <label for="password">Nueva Constrase単a</label>
    <input type="password" name="password" id="password" value="" placeholder="Nueva Constrase単a" autofocus="autofocus" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="confirm">Confirme la Contrase単a</label>
    <input type="password" name="confirm" id="confirm" value="" placeholder="Confirme la Contrase単a" class="form-control"/>
  </div>
  <div class="form-group">
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <button type="submit" class="btn btn-primary">Actualizar</button>
  </div>
</form>
